{% trans_default_domain 'app' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Gripp API v3{% endblock %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">

{#         <link rel="shortcut icon" href="{{ asset('images/favicon/favicon.ico') }}" type="image/x-icon" />#}
{#         <link rel="apple-touch-icon" href="{{ asset('images/favicon/apple-touch-icon.png') }}" />#}
{#         <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicon/apple-touch-icon-57x57.png') }}" />#}
{#         <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicon/apple-touch-icon-72x72.png') }}" />#}
{#         <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicon/apple-touch-icon-76x76.png') }}" />#}
{#         <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicon/apple-touch-icon-114x114.png') }}" />#}
{#         <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicon/apple-touch-icon-120x120.png') }}" />#}
{#         <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicon/apple-touch-icon-144x144.png') }}" />#}
{#         <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicon/apple-touch-icon-152x152.png') }}" />#}
        {% block stylesheets %}
		    {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
	<body class="{% block bodyClass 'account-dashboard' %}"> 
    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('runtime') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>