{# <li><a href="{{ path('absencerequest_index') }}"><i class="fas fa-shopping-basket"></i>Absencerequest</a></li>#}
{# <li><a href="{{ path('absencerequestline_index') }}"><i class="fas fa-shopping-basket"></i>Absencerequestline</a></li>#}
{# <li><a href="{{ path('company_index') }}"><i class="fas fa-shopping-basket"></i>Company</a></li>#}
{# <li><a href="{{ path('contact_index') }}"><i class="fas fa-shopping-basket"></i>Contact</a></li>#}
{# <li><a href="{{ path('contract_index') }}"><i class="fas fa-shopping-basket"></i>Contract</a></li>#}
{# <li><a href="{{ path('contractline_index') }}"><i class="fas fa-shopping-basket"></i>Contractline</a></li>#}
{# <li><a href="{{ path('costheading_index') }}"><i class="fas fa-shopping-basket"></i>Costheading</a></li>#}
{# <li><a href="{{ path('employee_index') }}"><i class="fas fa-shopping-basket"></i>Employee</a></li>#}
{# <li><a href="{{ path('employeefamily_index') }}"><i class="fas fa-shopping-basket"></i>Employeefamily</a></li>#}
{# <li><a href="{{ path('file_index') }}"><i class="fas fa-shopping-basket"></i>File</a></li>#}
{# <li><a href="{{ path('hour_index') }}"><i class="fas fa-shopping-basket"></i>Hour</a></li>#}
{# <li><a href="{{ path('invoice_index') }}"><i class="fas fa-shopping-basket"></i>Invoice</a></li>#}
{# <li><a href="{{ path('invoiceline_index') }}"><i class="fas fa-shopping-basket"></i>Invoiceline</a></li>#}
{# <li><a href="{{ path('ledger_index') }}"><i class="fas fa-shopping-basket"></i>Ledger</a></li>#}
{# <li><a href="{{ path('notification_index') }}"><i class="fas fa-shopping-basket"></i>Notification</a></li>#}
{# <li><a href="{{ path('offer_index') }}"><i class="fas fa-shopping-basket"></i>Offer</a></li>#}
{# <li><a href="{{ path('offerphase_index') }}"><i class="fas fa-shopping-basket"></i>Offerphase</a></li>#}
{# <li><a href="{{ path('offerprojectline_index') }}"><i class="fas fa-shopping-basket"></i>Offerprojectline</a></li>#}
{# <li><a href="{{ path('packet_index') }}"><i class="fas fa-shopping-basket"></i>Packet</a></li>#}
{# <li><a href="{{ path('packetline_index') }}"><i class="fas fa-shopping-basket"></i>Packetline</a></li>#}
{# <li><a href="{{ path('payment_index') }}"><i class="fas fa-shopping-basket"></i>Payment</a></li>#}
{# <li><a href="{{ path('priceexception_index') }}"><i class="fas fa-shopping-basket"></i>Priceexception</a></li>#}
{# <li><a href="{{ path('product_index') }}"><i class="fas fa-shopping-basket"></i>Product</a></li>#}
{# <li><a href="{{ path('project_index') }}"><i class="fas fa-shopping-basket"></i>Project</a></li>#}
{# <li><a href="{{ path('projectphase_index') }}"><i class="fas fa-shopping-basket"></i>Projectphase</a></li>#}
{# <li><a href="{{ path('purchaseinvoice_index') }}"><i class="fas fa-shopping-basket"></i>Purchaseinvoice</a></li>#}
{# <li><a href="{{ path('purchaseinvoiceline_index') }}"><i class="fas fa-shopping-basket"></i>Purchaseinvoiceline</a></li>#}
{# <li><a href="{{ path('purchaseorder_index') }}"><i class="fas fa-shopping-basket"></i>Purchaseorder</a></li>#}
{# <li><a href="{{ path('purchaseorderline_index') }}"><i class="fas fa-shopping-basket"></i>Purchaseorderline</a></li>#}
{# <li><a href="{{ path('purchasepayment_index') }}"><i class="fas fa-shopping-basket"></i>Purchasepayment</a></li>#}
<li><a href="{{ path('gripp_tag_index') }}"><i class="fas fa-shopping-basket"></i>Tag</a></li>
<li><a href="{{ path('gripp_task_index') }}"><i class="fas fa-shopping-basket"></i>Task</a></li>
<li><a href="{{ path('gripp_taskphase_index') }}"><i class="fas fa-shopping-basket"></i>Taskphase</a></li>
<li><a href="{{ path('gripp_tasktype_index') }}"><i class="fas fa-shopping-basket"></i>Tasktype</a></li>
{# <li><a href="{{ path('timelineentry_index') }}"><i class="fas fa-shopping-basket"></i>Timelineentry</a></li>#}
{# <li><a href="{{ path('unit_index') }}"><i class="fas fa-shopping-basket"></i>Unit</a></li>#}
{# <li><a href="{{ path('webhook_index') }}"><i class="fas fa-shopping-basket"></i>Webhook</a></li>#}