
{# <li><a href="{{ path('verlofaanvraag_index') }}"><i class="fas fa-shopping-basket"></i>Verlofaanvraag</a></li>#}
{# <li><a href="{{ path('verlofmutatie_index') }}"><i class="fas fa-shopping-basket"></i>Verlofmutatie</a></li>#}
{# <li><a href="{{ path('bedrijf_index') }}"><i class="fas fa-shopping-basket"></i>Bedrijf</a></li>#}
{# <li><a href="{{ path('contactpersoon_index') }}"><i class="fas fa-shopping-basket"></i>Contactpersoon</a></li>#}
{# <li><a href="{{ path('contract_index') }}"><i class="fas fa-shopping-basket"></i>Contract</a></li>#}
{# <li><a href="{{ path('contractregel_index') }}"><i class="fas fa-shopping-basket"></i>Contractregel</a></li>#}
{# <li><a href="{{ path('kostenplaats_index') }}"><i class="fas fa-shopping-basket"></i>Kostenplaats</a></li>#}
{# <li><a href="{{ path('medewerker_index') }}"><i class="fas fa-shopping-basket"></i>Medewerker</a></li>#}
{# <li><a href="{{ path('medewerkerdatum_index') }}"><i class="fas fa-shopping-basket"></i>Medewerkerdatum</a></li>#}
<li><a href="{{ path('file_index') }}"><i class="fas fa-shopping-basket"></i>File</a></li>
<li><a href="{{ path('mijnuren_index') }}"><i class="fas fa-shopping-basket"></i>Mijnuren</a></li>
<li><a href="{{ path('factuur_index') }}"><i class="fas fa-shopping-basket"></i>Factuur</a></li>
<li><a href="{{ path('factuurregel_index') }}"><i class="fas fa-shopping-basket"></i>Factuurregel</a></li>
<li><a href="{{ path('grootboek_index') }}"><i class="fas fa-shopping-basket"></i>Grootboek</a></li>
<li><a href="{{ path('alerttrigger_index') }}"><i class="fas fa-shopping-basket"></i>Alerttrigger</a></li>
<li><a href="{{ path('offerte_index') }}"><i class="fas fa-shopping-basket"></i>Offerte</a></li>
<li><a href="{{ path('offertefase_index') }}"><i class="fas fa-shopping-basket"></i>Offertefase</a></li>
<li><a href="{{ path('onderdeel_index') }}"><i class="fas fa-shopping-basket"></i>Onderdeel</a></li>
<li><a href="{{ path('pakket_index') }}"><i class="fas fa-shopping-basket"></i>Pakket</a></li>
{# <li><a href="{{ path('pakketregel_index') }}"><i class="fas fa-shopping-basket"></i>Pakketregel</a></li>#}
<li><a href="{{ path('betaling_index') }}"><i class="fas fa-shopping-basket"></i>Betaling</a></li>
<li><a href="{{ path('tariefuitzondering_index') }}"><i class="fas fa-shopping-basket"></i>Tariefuitzondering</a></li>
<li><a href="{{ path('verkoopproduct_index') }}"><i class="fas fa-shopping-basket"></i>Verkoopproduct</a></li>
<li><a href="{{ path('opdracht_index') }}"><i class="fas fa-shopping-basket"></i>Opdracht</a></li>
<li><a href="{{ path('opdrachtfase_index') }}"><i class="fas fa-shopping-basket"></i>Opdrachtfase</a></li>
<li><a href="{{ path('inkoopfactuur_index') }}"><i class="fas fa-shopping-basket"></i>Inkoopfactuur</a></li>
<li><a href="{{ path('inkoopfactuurregel_index') }}"><i class="fas fa-shopping-basket"></i>Inkoopfactuurregel</a></li>
<li><a href="{{ path('inkoopopdracht_index') }}"><i class="fas fa-shopping-basket"></i>Inkoopopdracht</a></li>
<li><a href="{{ path('inkoopopdrachtregel_index') }}"><i class="fas fa-shopping-basket"></i>Inkoopopdrachtregel</a></li>
<li><a href="{{ path('inkoopbetaling_index') }}"><i class="fas fa-shopping-basket"></i>Inkoopbetaling</a></li>
<li><a href="{{ path('tag_index') }}"><i class="fas fa-shopping-basket"></i>Tag</a></li>
<li><a href="{{ path('taak_index') }}"><i class="fas fa-shopping-basket"></i>Taak</a></li>
<li><a href="{{ path('taakfase_index') }}"><i class="fas fa-shopping-basket"></i>Taakfase</a></li>
<li><a href="{{ path('taaktype_index') }}"><i class="fas fa-shopping-basket"></i>Taaktype</a></li>
<li><a href="{{ path('timelineentry_index') }}"><i class="fas fa-shopping-basket"></i>Timelineentry</a></li>
<li><a href="{{ path('producteenheid_index') }}"><i class="fas fa-shopping-basket"></i>Producteenheid</a></li>
<li><a href="{{ path('webhook_index') }}"><i class="fas fa-shopping-basket"></i>Webhook</a></li>